extends layout

block content
  .content
    .menu
      .car-list
      button(type='button', id='addCarBtn' style="margin-left: 7px;" class="bg-blue hover:bg-blue-light text-white font-bold py-4 px-16 border-b-4 border-blue-dark rounded") Add car
      br
      br
      span(id="counter" class="center") Cars driving: 0
    div(id='map')

    script(src='/javascripts/scripts.js')
