extends layout

block content
  .content
    .menu
      .car-list
      button(type='button', id='addCarBtn', class="bg-blue block px-2 py-4 text-white w-full rounded") Add car
    div(id='map')

    script(src='/javascripts/scripts.js')
