extends layout

block content
  .content
    .menu
      .car-list
      button(type='button', id='addCarBtn' class="bg-blue-500 hover:bg-blue-light text-white font-bold py-4 px-16 border-b-4 border-blue-600 rounded") Add car
      br
      br
      input(type="number" id='ID' class="bg-grey-300 block text-grey-darker text-sm font-bold px-2 py-3 shadow-md rounded" placeholder="Unique ID")
      br
      input(type="number" id='amountOfCars' class="bg-grey-300 block text-grey-darker text-sm font-bold px-2 py-3 shadow-md rounded" placeholder="Amount of cars")
      br
      span(id="counter" class="center") Cars driving: 0
    div(id='map')

    script(src='/javascripts/scripts.js')
